.wrapper {
  .title {
    margin-bottom: 3rem;
  }

  .chart {
    background-color: white;
    border-radius: 0.5rem;
    padding: 1rem;
    margin-bottom: 3rem;
    overflow-x: auto;

    .subtitle {
      margin-bottom: 1rem;
    }
  }
}
