$white: #ffffff;
$black: #000000;
$gray: #999;
$blue: blue;
$casal: #2b5b6c;
$glacier: #73aabd;
$red: red;

$bg-primary: #e9e9e9;

$font-primary: "Roboto", Sans-Serif;
$font-primary-bold: "Roboto-bold", Sans-Serif;

// Input
$inputBorder: 1px solid $gray;
$errorMessage: red;

// Button
$btn-bg: blue;
$btn-color: white;
$btn-submit-bg: blue;
$btn-submit-color: white;
$btn-submit-hover-bg: darkblue;
